@page "/test/{CustomCount:int?}"

<PageTitle>test</PageTitle>

<h1>test</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<p>

With Navigation Manager


<MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="OnNavigateJumpHome">NM: Jump to Home</MudButton>

<MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="OnNavigateJumpHomeBU">NM(BU): Jump to Home</MudButton>

<MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="OnNavigateResetHome">NM: Reset to Home</MudButton>


</p>

<p>

With NavLink

<div class="nav-item px-3">
    <NavLink class="nav-link" href="/">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> NL:JumpHome
    </NavLink>
</div>

</p>

@code {
    [Parameter] public int? CustomCount { get; set; } = null;

    [Inject] NavigationManager NavigationManager { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += CustomCount.HasValue ? CustomCount.Value : 1;
    }

    void OnNavigateJumpHome()
    {
        NavigationManager.NavigateTo("/");
    }

    void OnNavigateJumpHomeBU()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }

    void OnNavigateResetHome()
    {
        NavigationManager.NavigateTo("/", true);
    }
}
